*{
    margin: 0;
    padding: 0;
    font-family: 'Alatsi', sans-serif;

}

body{
    background: url(/imagens/game_index_background.jpg); 
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
}

.nav{
    background-color: black;
    border: black;
}

.nav a{
    color: white;
}

.tab-content{
    color: white;
}

.selection #images, .selection #imagesWR{
    display: flex;
    flex-wrap: wrap;
}
.selection .player{
    margin: 2rem;
    text-align: center;
}

.selection{
    color: black;
    margin: 2rem;
}

.busca{
    color: white;
}

.card{
    margin: 0.5rem;
}

#jogo{
    height: 40rem;
    display: flex;
    flex-direction: row;
}

/* #QB, #QR{
    margin-right: 50%;
    padding: 0;
}

#jogo #QB #QR{
    width: 33%;
}
*/
/* #QB img{
    margin-top: 10rem;
} */

#QB{
    justify-content: center;
    align-items: center; 
    margin-left: 10%;
    text-align: center;
}
#WR1, #WR2{
    margin-left: 2rem;
    text-align: center;
}
.ballIcon{
    width: 5rem;
    height: 5rem;
    transition: 0.5s;
    
    z-index: 2;
    /* bottom: 50%; */
}

.placar{
    font-size: 5rem;
    color: white;
    font-weight: bold;
}

.card{
    margin-top: 1rem;
    padding: 0.5rem;
    border: rgb(5, 9, 68) solid 2px;
    background-image: linear-gradient(to bottom right, red, blue);
}

.card-body{
    padding: 5px;
    display: flex;
    flex-direction: row;
}

.card-info{
    width: 100%;
}

.card-text{
    width: 100%;
    color: honeydew;
    font-weight: 600;
    text-align: left;
}

.card-img-top{
    background-color: white;
}

.nfl-logo{
    min-width: 50%;
    min-height: 50%;
    padding-top: 0.5rem;
    text-align: center;
}